[Unit]
Description=Tiny mDNS Proxy
Afetr=network.target

[Service]
Type=simple
User=YOUR_USER
ExecStart=/home/YOUR_USER/mdns-proxy
Restart=always

[Install]
WantedBy=multi-user.target

